
  
  
  .carousel {
    height: 250px;
    width: 97%;
    position: relative;
  }
  .carousel .switchLeft,
  .carousel .switchRight {
    color: white;
    font-weight: bold;
    height: 100%;
    width: 45px;
    line-height: 250px;
    font-size: 25px;
    text-align: center;
    
    font-family: sans-serif;
    top: 0;
    z-index: 3;
  }
  
  .carousel .switchLeft {
    position: absolute;
    left: -2px;
    transition: .7s ease;
  }
  
  .carousel .switchRight {
    position: absolute;
    transition: .7s ease;
    right: -10px;
  }
  .switchRight:hover, .switchLeft:hover{
    background: #262626;
    opacity: 0.9;
    height: 212px;
    overflow: hidden;
    margin-top: 30px;
    
  }
  .carouselbox {
    height: 250px;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    padding-bottom: 10px !important;
    display: flex;
    align-items: center;
  }
  
  .carouselbox img {
    min-width: 147px;
    max-width: 147px;
    height: 200px;
    background-size: cover;
    background-color: lightgreen;
    margin: 5px 10px;
    cursor: pointer;
    transition: 0.5s ease;
    z-index: 2;
  
    /* margin: 15px; */
  }
  
  .carouselbox img:hover {
    transform: scale(1.4);
    z-index: 5;
  }
 
  .title{
    display: block;
    color: white;
    text-indent: 10px;
    margin-top: 12px;
    font-weight: 800;
    font-family: 'Roboto';
  }