.other{
    display: flex;
    justify-content: space-between;
    width: 1215px;
    flex-wrap: wrap;
    margin-top: 22px;
    margin-bottom: 22px;
    position: relative;
    margin-top: -98px;
  }

  .main{
    width: 30%;
 
  }
  .sidebar{
    width: 60%;
    color: #fff;
  }
  .main .img-poster img{
    width: 350px;
    height: 530px;
    border-radius: 10px;
  }
   footer{
    color:#fff;
    text-align: center;
    padding: 20px;
    border-top: 2px solid #333130;
    box-shadow: 0 2px 2px 0 #333130;
  }
  .sidebar h3{
    font-size: 30px;
    font-weight: 800;
    margin-top: 120px;
    margin-bottom: 100px;
  }
  .classf, .sinopse{
      margin-bottom: 12px;
  }
 

    .btn {
        display: inline-block;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 1px solid transparent;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .25rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        color: #fff;
        background-color: #dc3545;
        border-color: #dc3545;
        width: 350px;
        padding: 10px;
    }
    .btn:hover{
        cursor: pointer;
    }
    a.genero{
        background: tomato;
        padding: 10px;
        border-radius: 10px;
    }
    .generos{
        display: flex;
        width: 100%;
    }
    .item-genero{
        margin-right: 12px;
        margin-top: 22px;
        margin-bottom: 22px;
    }