*{
    padding: 0;
    margin: 0;
  }
  
  
  body {
   
    background-color: #262626;
    font-family: 'Roboto';
  
  }
  
  .container{
    margin: 0 auto;
    width: 1250px;
  }
  
  .top{
      max-width: 100%;
      box-shadow: 0 6px 6px rgba(0,0,0,.4);
      height: 500px;
      background: url('https://i1.wp.com/thefutureoftheforce.com/wp-content/uploads/2020/08/Zack-Snyders-Justice-League.jpg?fit=3200%2C1800&ssl=1');
      background-size: cover;
     
    }
  
    .other{
      display: flex;
      justify-content: space-between;
      width: 1215px;
      flex-wrap: wrap;
      margin-top: 22px;
      margin-bottom: 22px;
    }
  
    .main{
      width: 60%;
   
    }
    .sidebar{
      width: 30%;
  
    }
    .sidebar-home{
      width: 30% !important;
      margin-top: 102px;
    }
    .main-home{
      width: 60% !important;
      margin-top: 102px;
    }
  
    .item-re{
      display: flex;
      color: #fff;
      align-items: center;
      margin-bottom: 12px;
      flex-wrap: wrap;
    }
    .item-re img{
      height: 140px;
      margin-right: 12px;
    }
    .sidebar .title{
      margin-bottom: 20px;
    }
    h5.trailer{
      color: #fff;
      font-size: 20px;
      margin-top: 30px;
      margin-bottom: 12px;
    }
    footer{
      color:#fff;
      text-align: center;
      padding: 20px;
      border-top: 2px solid #333130;
      box-shadow: 0 2px 2px 0 #333130;
    }